In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/toluwani/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/03 16:25:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.registerTempTable('green')

In [4]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [14]:
df_green_revenue = spark.sql("""
SELECT
    date_trunc('hour', lpep_pickup_datetime) AS hour,
    PULocationID AS zone,
    
    SUM(total_amount) AS amount,
    COUNT(1) AS number_of_records
FROM 
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY 
    1, 2
""")

In [12]:
df_green_revenue.show()

+-------------------+----+------------------+-----------------+
|               hour|zone|            amount|number_of_records|
+-------------------+----+------------------+-----------------+
|2020-01-01 00:00:00|   7| 769.7299999999996|               45|
|2020-01-01 00:00:00|  17|            195.03|                9|
|2020-01-01 00:00:00|  18|               7.8|                1|
|2020-01-01 00:00:00|  22|              15.8|                1|
|2020-01-01 00:00:00|  24|              87.6|                3|
|2020-01-01 00:00:00|  25|             531.0|               26|
|2020-01-01 00:00:00|  29|              61.3|                1|
|2020-01-01 00:00:00|  32| 68.94999999999999|                2|
|2020-01-01 00:00:00|  33|            317.27|               11|
|2020-01-01 00:00:00|  35|            129.96|                5|
|2020-01-01 00:00:00|  36|295.34000000000003|               11|
|2020-01-01 00:00:00|  37|            175.67|                6|
|2020-01-01 00:00:00|  38| 98.78999999999999|                2|
|2020-01-01 00:00:00|  40|168.98000000000002|                8|
|2020-01-01 00:00:00|  41|1363.9599999999987|               84|
|2020-01-01 00:00:00|  42| 799.7599999999996|               52|
|2020-01-01 00:00:00|  43|107.52000000000001|                6|
|2020-01-01 00:00:00|  47|              13.3|                1|
|2020-01-01 00:00:00|  49|            266.76|               14|
|2020-01-01 00:00:00|  51|              17.8|                2|
+-------------------+----+------------------+-----------------+
only showing top 20 rows

In [20]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [17]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [18]:
df_yellow_revenue = spark.sql("""
SELECT
    date_trunc('hour', tpep_pickup_datetime) AS hour,
    PULocationID AS zone,
    
    SUM(total_amount) AS amount,
    COUNT(1) AS number_of_records
FROM 
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY 
    1, 2
""")

In [21]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [31]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [32]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_of_records', 'green_number_of_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_of_records', 'yellow_number_of_records')

In [33]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [35]:
df_join \
    .repartition(20) \
    .write.parquet('data/report/revenue/total', mode='overwrite')

In [28]:
df_join.show()

+-------------------+----+------------+-----------------------+------------------+------------------------+
|               hour|zone|green_amount|green_number_of_records|     yellow_amount|yellow_number_of_records|
+-------------------+----+------------+-----------------------+------------------+------------------------+
|2020-01-01 00:00:00|   3|        null|                   null|              25.0|                       1|
|2020-01-01 01:00:00|  17|      598.15|                     18|            464.51|                      18|
|2020-01-01 01:00:00| 107|        null|                   null| 9994.480000000021|                     583|
|2020-01-01 01:00:00| 162|        null|                   null| 5736.690000000002|                     298|
|2020-01-01 02:00:00| 234|        null|                   null| 6759.990000000009|                     370|
|2020-01-01 03:00:00| 170|        null|                   null|            4632.0|                     257|
|2020-01-01 04:00:00|  22|        null|                   null|             12.96|                       1|
|2020-01-01 06:00:00| 255|      121.12|                      3|36.260000000000005|                       3|
|2020-01-01 07:00:00| 235|       32.95|                      2|              null|                    null|
|2020-01-01 09:00:00|  70|        null|                   null|              54.9|                       3|
|2020-01-01 10:00:00| 181|       54.56|                      5|             70.45|                       2|
|2020-01-01 13:00:00| 224|        null|                   null|272.71000000000004|                      18|
|2020-01-01 15:00:00| 123|       35.71|                      2|              null|                    null|
|2020-01-01 18:00:00|  68|        null|                   null| 3645.649999999997|                     213|
|2020-01-01 19:00:00| 100|        null|                   null| 2726.739999999997|                     175|
|2020-01-01 23:00:00| 234|        null|                   null|1388.0899999999997|                      88|
|2020-01-02 00:00:00| 219|        null|                   null|              61.3|                       1|
|2020-01-02 02:00:00|   7|        10.3|                      1| 66.89999999999999|                       4|
|2020-01-02 04:00:00|  36|       33.36|                      2|              null|                    null|
|2020-01-02 05:00:00|   7|       54.22|                      2|            212.11|                      11|
+-------------------+----+------------+-----------------------+------------------+------------------------+
only showing top 20 rows

In [36]:
df_join = spark.read.parquet('data/report/revenue/total')

In [37]:
df_join.show()

+-------------------+----+-----------------+-----------------------+------------------+------------------------+
|               hour|zone|     green_amount|green_number_of_records|     yellow_amount|yellow_number_of_records|
+-------------------+----+-----------------+-----------------------+------------------+------------------------+
|2020-08-27 16:00:00| 197|848.9999999999998|                     17|            398.18|                       8|
|2020-03-03 18:00:00|  36|             null|                   null|              16.8|                       1|
|2020-05-02 05:00:00| 234|             null|                   null|               9.3|                       1|
|2021-04-07 02:00:00| 164|             null|                   null|50.260000000000005|                       2|
|2020-08-07 01:00:00| 228|             null|                   null|             382.0|                       5|
|2020-07-11 21:00:00|  79|             null|                   null|            330.24|                      20|
|2020-01-22 13:00:00| 244|           589.11|                     28|            180.64|                      10|
|2020-07-04 11:00:00| 237|             null|                   null|194.79000000000002|                      18|
|2021-07-11 20:00:00| 211|             null|                   null| 794.6600000000003|                      43|
|2021-05-22 10:00:00| 181|             null|                   null|             27.96|                       1|
|2020-07-06 16:00:00| 121|             31.0|                      1|              null|                    null|
|2020-11-23 16:00:00| 112|            66.29|                      2|              null|                    null|
|2021-05-09 15:00:00|  91|             null|                   null|             85.13|                       2|
|2020-07-10 01:00:00| 181|             null|                   null|              16.8|                       1|
|2021-02-14 05:00:00|  76|             null|                   null|             60.92|                       1|
|2020-07-08 11:00:00| 125|             null|                   null| 93.44999999999999|                       6|
|2020-06-28 14:00:00|  41|           190.54|                      8|            192.94|                      10|
|2020-03-02 10:00:00|   7|           191.33|                     14|121.91999999999999|                       9|
|2020-06-14 17:00:00| 191|             null|                   null|             37.06|                       1|
|2020-03-21 16:00:00| 247|              8.8|                      1|               8.8|                       1|
+-------------------+----+-----------------+-----------------------+------------------+------------------------+
only showing top 20 rows

In [40]:
from pyspark.sql import types

In [41]:
zone_schema = types.StructType([
    types.StructField("LocationID",types.IntegerType(),True),
    types.StructField("Borough",types.StringType(),True),
    types.StructField("Zone",types.StringType(),True),
    types.StructField("service_zone",types.StringType(),True)
])

In [43]:
df_zones = spark.read \
    .schema(zone_schema) \
    .option("header", "true") \
    .csv("taxi+_zone_lookup.csv")

In [44]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [45]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [49]:
df_result.drop('LocationID', 'zone').write.parquet('data/tmp/revenue-zones')