In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('taxi+_zone_lookup.csv')

In [3]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
engine = create_engine("postgresql://root:root@localhost/ny_taxi")

In [5]:
engine.connect()

In [6]:
df.head(0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [8]:
df.head(0).to_sql(name='zones', con=engine, if_exists='replace')

In [9]:
df.to_sql(name='zones', con=engine, if_exists='append')